[Unit]
Description=demovote-backend
After=syslog.target network.target

[Service]
User=root
Group=root

Type=exec
ExecStart=java -jar /home/rajah/demovote-backend-0.1.0.war
WorkingDirectory=/home/rajah/demovote-backend
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
